body {
    font-family: 'Bellefair', serif;
    font-size: 20px;
    padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: ghostwhite;
}

.available {
	text-decoration: none !important;
}

.pic, .flip-container {
	height: 250px;
	width: 250px;
	align-content: center;
	/* margin: auto; */
	margin: auto;
	margin-bottom: 20px;
	display: block;
}


.flip-container:hover .flip {
	-webkit-transform: rotateY(180deg);
	transform : rotateY(180deg);
}

.flip {
	-webkit-transition: 1.6s;
	transition : 1.6s;
	-webkit-transform-style: preserve-3d;
	transform-style : preserve-3d;
	position : relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	backface-visibility : hidden;
	position : absolute;
}

.front {
	-webkit-transform: rotateY(0deg);
	transform : rotateY(0deg);
} 

.back {
	-webkit-transform: rotateY(180deg);
	transform : rotateY(180deg);
} 

.focus {
	margin: 15px;
}

#map {
	position:relative;
	top:0;
	bottom:0;
	width:100%;
	height: 500px;
	margin:0;
	padding:0;
}

.interest {
    display:inline-block;
    border:0;
/*    width:196px;
    height:210px;*/
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}

.interest:hover {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
	color: black;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

#proj-info {
	background-color: #3b3b3b;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}